@use '../../globalStyles/spacing';
@use '../../globalStyles/colors';

.loader {
  height: 1.8rem;
  width: 90%;
  max-width: 40rem;
  margin-bottom: spacing.$M;
  background: colors.$lightest;
  border-radius: 0.8rem;
  position: relative;
  overflow: hidden;
  text-indent: -999px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 0.8rem;
    animation: load 1200ms infinite linear;
    background: colors.$light;
    width: 20%;
    z-index: 2;
  }
}

@keyframes load {
  0% {
    left: -20%;
  }

  100% {
    left: 120%;
  }
}
