@use './globalStyles/colors';
@use './globalStyles/spacing';

.app {
  text-align: left;
  display: flex;
  flex-flow: column;
  margin: auto;
  width: 100%;
  padding: spacing.$XL;
  max-width: 80rem;
}
